.App {
  padding: 0.5rem;
}
#logo{
  height: 40px;
  margin: auto;
  display: block;
  margin-bottom: 9px;
  margin-top: 7px;
}
#title{
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
}
/* #info{
  margin-bottom: 8px;
}
#article{
  margin-bottom: 0.7rem;
} */
#loading{
  text-align: center;
  margin-top: 50%;
}